* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  padding: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
}

.form-section,
.list-section {
  margin-bottom: 20px;
}

h1,
h2 {
  margin-bottom: 10px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

input {
  height: auto;
}

#main-menu {
  display: flex;
  flex-direction: row; /* Botones en columna */
  justify-content: space-around; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #f9f9f9; /* Fondo opcional */
}

/* Espaciado entre botones */
#main-menu button {
  margin: 10px 0; /* Espaciado vertical entre botones */
}
/* Estilos generales para los botones */
.btn {
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Botón Aceptar */
.btn.aceptar {
  background-color: #4caf50; /* Verde principal */
  color: white;
}

.btn.aceptar:hover {
  background-color: #45a049; /* Verde más oscuro al pasar el mouse */
  transform: scale(1.05); /* Pequeño aumento al pasar el mouse */
}

.btn.aceptar:active {
  background-color: #388e3c; /* Verde más oscuro al hacer clic */
  transform: scale(0.95); /* Reducir ligeramente al hacer clic */
}

/* Botón Volver Atrás */
.btn.volver {
  background-color: #81c784; /* Verde claro */
  color: white;
}

.btn.volver:hover {
  background-color: #66bb6a; /* Verde más saturado al pasar el mouse */
  transform: scale(1.05);
}

.btn.volver:active {
  background-color: #4caf50; /* Verde estándar al hacer clic */
  transform: scale(0.95);
}

.divShadow {
  display: flex;
  align-items: center;
  padding: 1px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px gray;
}
